*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(200deg,#0B1D51,#048A81);
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin:2rem 0 1rem 0;
}

form select,input,button{
    width:100%;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid light black;
    font-size: 1rem;
    height: 3rem;
    padding-left:0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

i{
    font-size: 1.5rem;
    margin-top: 1rem;
    
}

.select-container img{
    max-width: 2.5rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 6rem;
    /*border: 1px solid black; */
    
}

.select-container select{
    font-size: 1rem;
    width: auto;
    background: none;
    border: none;
}

.msg{
    margin: 2rem 0 2rem 0;

}

button{
    height: 3rem;
    background-color: #3B3B58;
    color:#f4f4f4;
    font-size: 1.15rem;
    cursor: pointer;
}